.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    font-size:34px;
    height: 55px;
    width: 276px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: black;
    width: 60px;
    height: 70px;
    margin: 6px;
    color: white;
}    
/* .calculator{

} */
    #screen{
        font-family: 'Courier New', Courier, monospace;
    }
    h1{
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
    }